<div class="card">
    <div class="card-header green-title text-center">
        <img src="../../../assets/icons/suitcase.png" class="tabicon">
      Recent Transactions
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-5 col-12 searchbar">
          <input type="search" class="form-control" [(ngModel)]="searchBy" placeholder="Search by typing...">
        </div>
        <div class="col-xl-7 col-12 searchbar">
          Sory by 
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn sort-button" (click)="sort('transactionDate')">DATE 
                  <i *ngIf="sortingName=='transactionDate'" [ngClass]="{'fa':true, 'fa-caret-down':isDesc, 'fa-caret-up':!isDesc}"></i></button>
              <button type="button" class="btn sort-button" (click)="sort('merchant')">BENIFICIARY 
                <i *ngIf="sortingName=='merchant'" [ngClass]="{'fa':true, 'fa-caret-down':isDesc, 'fa-caret-up':!isDesc}"></i></button>
              <button type="button" class="btn sort-button" (click)="sort('amount')">AMOUNT 
                <i *ngIf="sortingName=='amount'" [ngClass]="{'fa':true, 'fa-caret-down':isDesc, 'fa-caret-up':!isDesc}"></i></button>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm">
            <table class="table">
              <tr *ngFor="let tran of transactions | orderBy:sortingName:isDesc | filterBy: searchBy">
                <td class="category" [style.background-color]="tran.categoryCode"></td>
                <td>{{tran.transactionDate | date:'MMM. dd'}}</td>
                <td><img src="{{tran.merchantLogo}}" class="merchant-logo"></td>
                <td>
                  <span class="merchant">{{tran.merchant}}</span><br>
                  <span class="trantype">{{tran.transactionType}}</span>
                </td>
                <td><span class="amount">{{tran.amount | currency:'$'}}</span></td>
              </tr>
            </table>
          </div>
        </div>
    </div>
  </div>