/* You can add global styles to this file, and also import other style files */
.green-title {
  background-color: #0c8397;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  height: 60px;
}
.tabicon {
  float: left;
  width: 32px;
}
.formlabel {
  font-size: 1em;
  font-weight: 600;
}
.control-underline {
  border-width: 0px 0px 2px 0px;
  border-radius: 0;

}