/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400');
body {
  background-image: url('../src/assets/background.jpg');
  background-size: cover;
  font-family: 'Kanit', sans-serif;
}
.green-title {
  background-color: #0c8397;
  color: #fff;
  font-size: 1.3em;
  font-weight: 300;
  height: 60px;
}
.tabicon {
  float: left;
  width: 32px;
  opacity: 0.50;
}
.formlabel {
  font-size: 0.9em;
  font-weight: 600;
}
.control-underline {
  border-width: 0px 0px 2px 0px;
  border-radius: 0;

}