/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400');
body {
  background: url('../src/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Kanit', sans-serif;
}
.green-title {
  background-color: #0c8397;
  color: #fff;
  font-size: 1.3em;
  font-weight: 300;
  height: 60px;
}
.card-header {
  border-radius: 0px !important;
  border-color: #0c8397;
}
.card {
  border-width: 0px;
  -webkit-box-shadow: 2px -2px 26px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -2px 26px -7px rgba(0,0,0,0.75);
  box-shadow: 2px -2px 26px -7px rgba(0,0,0,0.75);
}
.tabicon {
  float: left;
  width: 32px;
  opacity: 0.50;
}
.formlabel {
  font-size: 0.9em;
  font-weight: 600;
}
.control-underline {
  border-width: 0px 0px 2px 0px;
  border-radius: 0;

}